 div {
     #order-style: solid;
     #border-width: 0.1em;
     #border-color: green;
 }

<!--catch all for below objects to avoid overflow -->
 img, embed, object, video {
     max-width: 100%;
 }
 
 body {
     font-family: 'Lato', sans-serif;
     color: #747704;
     font-weight: 300;
 }

 #container {
     width: 90%;
 }
 
 .text-fade {
     color: #BCBBBB;
     text-align: center;
 }
 
 .text-thin {
     font-weight: 100;
 }
 
 .title_super {
     font-size: 60px;
 }
 
 .logo_super {
     margin-top: 20px;
 }
 
 .fixImage {
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
 }
 
 .skills {
     padding: 0px 0px 0px 0px;
 }
 
 .progress_custom {
     margin-bottom: 5px;
 }